
<nav class="user-sidebar" [class.collapsed]="sidebarCollapsed" [class.hidden]="sidebarHidden">
  <ul>
    <li *ngFor="let route of routes; let i = index">
      <div class="menu-parent"
           (click)="toggle(i)"
           [class.icon-only]="sidebarCollapsed"
           (mouseenter)="hoveredIndex = i"
           (mouseleave)="hoveredIndex = null">
        <span *ngIf="route.icon" class="material-icons">{{route.icon}}</span>
        <span class="menu-title" *ngIf="!sidebarCollapsed || hoveredIndex === i">
          {{ route.title }}
        </span>
      </div>
      <!-- If you have submenus, add them here -->
      <!-- Example:
      <ul class="submenu" *ngIf="route.children && route.expanded && !sidebarCollapsed">
        <li *ngFor="let child of route.children">
          <a [routerLink]="child.route" routerLinkActive="active">{{child.title}}</a>
        </li>
      </ul>
      -->
    </li>
  </ul>