<div *ngIf="!connected" class="login-panel">
    <input type="text" [(ngModel)]="username" placeholder="Votre pseudo" />
    <button (click)="connect()">Se connecter</button>
</div>

<div *ngIf="connected" class="chat-panel">
    <div class="users">
        <input type="text" [(ngModel)]="targetUser" placeholder="Pseudo destinataire" />
    </div>

    <div class="messages">
        <div *ngFor="let msg of messages" [class.self]="msg.sender === username" class="message">
            <b>{{ msg.sender }}:</b> {{ msg.content }}
            <span class="timestamp">{{ msg.timestamp | date:'shortTime' }}</span>
        </div>
    </div>

    <div class="input-area">
        <input type="text" [(ngModel)]="message" placeholder="Écris ton message..." (keyup.enter)="send()" />
        <button (click)="send()">Envoyer</button>
    </div>
</div>
